body {
    font-family: verdana, arial;
    color: #000000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#E6F2CB));
}

#loading {
    margin: 8px;
    font-size: 14px;
    white-space: nowrap;
}

#response {
	height: 50px;
}

#url {
    margin: 8px 8px 0px 8px;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
}

#extras {
    margin: 0px 8px 0px 8px;
    font-size: 10px;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 10px;
}

#extras p {
	color: #21AF21;
    font-weight: normal;
    line-height: 20px;
    float : left;
}
p#clipboard {
    background: url('../icons/clipboard.png') 0px 3px no-repeat;
    padding-left: 16px;
}

p#qrcode {
	border-right: 1px solid #CCC;
	margin-right: 5px;
	padding-right: 5px;
}

p#qrcode  a {
    background: url('../icons/qrcode.png') right 2px no-repeat;
    padding-right: 18px;
	line-height: 20px;
	display : block;
}


img {
    vertical-align: text-top;
}

a:link , a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover, a:active {
    color: #000000;
    text-decoration: underline;
}

.error {
    color: rgb(213, 75, 75);
    font-size: 11px !important;
    font-weight: bold;
    background: url('../icons/error.gif') 0px -1px no-repeat;
    padding-left: 20px;
}